body {
	font-family: Avenir;
	font-size: 24px;
}

a {
	color:red;
}

.title {
	height: 80vh;
	width: 100vh;
}

.content-title {
	font-size: 200px;
	font-weight: bold;
	padding: 20px;
	color: black;
	margin-left: 100px;
	margin-top: 70px;

}

.grid {
	display: flex;
	flex-wrap: wrap;
}

.left {
	flex:0 0 50%;
	height: 100vh;
	
	overflow: scroll;
}

.left-content {
	padding: 20px;
	width: 40vw;
	margin-left: 100px;
	line-height: 1.2em;
}

.right {
	color: black;
	font-size: 20px;
	background-color: white;
	flex:0 0 50%;
	height: 100vh;

	overflow: scroll;	
}

.right-content {
	padding: 20px;
	margin-right: 100px
	line-height: 1.3em;
	width: 40vw;
}

.right img {
	width: 100%;
	margin-bottom: 15px

}



.breakfast {
	color: darkorange;
}

.lunch {
	color: salmon;
}

.dinner {
	color: firebrick;
}

.desert {
	color: palevioletred;
}






