body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color: black;
	color: white;
}

a {
	color:red;
}


/*Index Homepage*/

.index-intro {
	font-size: 18px;
	margin-bottom: 25vh;
}

.index-row {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	border-top: 2px solid white; 

}

.index-name {
	flex: 0 0 50%;
}

.index-layer {
	flex: 0 0 25%;
}

.index-tag {
	flex: 0 0 25%;
}

/*IP Address*/

.ip {
	background-color: lightslategray;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: futura;

}

.ip-text {
	font-size: 16vw;
	text-align: center;
	color: white;

}



/*Checkers*/

.checkers {
	display: flex;
	flex-wrap: wrap;
}

.checkers-white {
	width: 50vw;
	height: 50vh;
	background-color: white;
}

.checkers-skyblue {
	width: 50vw;
	height: 50vh;
	background-color: tan;

}

/*barcode isbn*/

.sidebar{
  width:100vw;
  height:80vh;
  display: flex;
  flex-wrap: wrap;
  background:black;
  justify-content: center;
}

.stripe-1{
  background-color:red;
  height:70vh;
  width:20px;
  margin-right:10px;
  float:left;
}

.stripe-2{
  background-color:olivedrab;  
  height:65vh;
  width:30px;
  margin-right:20px;
  float:left;  
}
.stripe-3{
  background-color:yellow;  
  height:850px;
  width:80px;
  margin-right:20px;
  float:left;  
}

.stripe-4{
  background-color:blue;  
  height:850px;
  width:30px;
  margin-right:20px;
  float:left;  
}

.stripe-5{
  background-color:lime;  
  height:850px;
  width:10px;
  margin-right:40px;
  float:left;  
}

.stripe-6{
  background-color:orange;  
  height:850px;
  width:50px;
  margin-right:10px;
  float:left;  
}

.stripe-7{
  background-color:purple;  
  height:850px;
  width:80px;
  margin-right:40px;
  float:left;  
}

.stripe-8{
  background-color:gray;  
  height:850px;
  width:20px;
  margin-right:30px;
  float:left;  
}

.stripe-9{
  background-color:white;  
  height:850px;
  width:50px;
  margin-right:10px;
  float:left;  
}

.stripe-10{
  background-color:pink;  
  height:900px;
  width:20px;
  margin-right:35px;
  float:left;  
}

.stripe-11{
  background-color:turquoise;  
  height:850px;
  width:60px;
  margin-right:24px;
  float:left;  
}

.stripe-12{
  background-color:orangered;  
  height:850px;
  width:45px;
  margin-right: 28px;
  float:left;  
}

.stripe-13{
  background-color: indigo;  
  height:850px;
  width:35px;
  margin-right:13px;
  float:left;  
}

.stripe-14{
  background-color: deepskyblue;  
  height:850px;
  width:60px;
  margin-right:20px;
  float:left;  
}

.stripe-15{
  background-color:sienna;  
  height:850px;
  width:30px;
  margin-right:40px;
  float:left;  
}

.stripe-16{
  background-color:greenyellow;  
  height:850px;
  width:50px;
  margin-right:10px;
  float:left;  
}

.stripe-17{
  background-color:gold;  
  height:900px;
  width:20px;
  margin-right:20px;
  float:left;  
}

.sidebar-text {
  	font-size: 140px;
  	text-align: center;

}

/*Cloud Pattern*/

.cloud-pattern {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(lightslategray, white);
}

.cloud-circle {
	width: 30.333vw;
	height:45vh;
	margin: 1.5vw;
	background-image: linear-gradient(pink, white);
	border-radius: 50%;
}

/*grid ip*/

.grid {
	display: flex;
	flex-wrap: wrap;
	font-family: Futura;
	font-size: 40px;
}

.grid-red{
	width: 50%;
	height: 50vh;
	background-color: red;
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid-blue {
	width: 50%;
	height: 50vh;
	background-color: blue;
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid-green {
	width: 50%;
	height: 50vh;
	background-color: green;
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid-orange {
	width: 50%;
	height: 50vh;
	background-color: orange;
	display: flex;
	align-items: center;
	justify-content: center;
}


/*flag letter-e*/

.fingerprint {
	width: 100%;
	height: 100vh;
}

.fingerprint img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	background-color: #000;

}

.robot {
	position: absolute;
	top:0px;
	left:0px;
	display: flex;
	width:100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.robot-text {
	font-family: Helvetica,Arial,sans-serif;
	border-radius: 100px;
  height:5vh;
  width:80vw;
  background-color:cyan;
	color:gray;
	box-shadow: 0px 0px 80px cyan;
	padding: 28px;
	text-align: center;
}

/*checker pink*/

.checkers-3 {
	display: flex;
	flex-wrap: wrap;
}
.checkers-3-pink {
	width: 33.333vw;
	height: 50vh;
	background-color: pink;
}
.checkers-3-lightpink {
	width: 33.333vw;
	height: 50vh;
	background-color: lightpink;
}

.checkers-3-hotpink {
	width: 33.333vw;
	height: 50vh;
	background-color: hotpink;
}

.checkers-3-deeppink {
	width: 33.333vw;
	height: 50vh;
	background-color: deeppink;
}

.checkers-3-mediumvioletred {
	width: 33.333vw;
	height: 50vh;
	background-color: mediumvioletred;
}

.checkers-3-palevioletred {
	width: 33.333vw;
	height: 50vh;
	background-color: palevioletred;
}

/*barcode*/

.mailbarcode {
	width:100vw;
	height:100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.gray {
	background-color: gray;
}

.barcode {
	width: 200vw;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.barcode img {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}

.scan {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.scan .barcode {
	justify-content: flex-start;
}

.scanbox {
	width: 200px;
	height: 200px;
	background-color: gray;
	border-right: 15px solid black;


/*barcode animation effect*/
	animation-name: scaner;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
  	animation-direction: alternate;
}

@keyframes scaner {
  
  0% {
    width:0px;
  }
  
  100% {
    width:100vw;
  }
  
  
}









