body {
	font-family: Avenir;
	font-size: 24px;
	background-color: black;
	color: white;
}

a {
	color:lightgray;
}


/*Index Homepage*/

.index-intro {
	font-size: 60px;
	font-weight: bolder;
	color: cyan;
	padding: 8vh;
	margin-bottom: 10vh;
	margin-left: 5vw;
	line-height: 1.2em;
}

.index-row {
	display: flex;
	flex-wrap: wrap;
	padding: 40px;
	margin-bottom: 40px;
	margin-top: 5px;
	border-top: 0.5px solid aqua; 


}

.index-name {
	margin-left: 130px;
	flex: 0 0 50%;
	font-weight: bold;
	font-size: 30px;

}


.index-tag {
	flex: 0 0 25%;
	line-height: 1.5em;
}

.back {
	font-size: 25px;
	padding: 5px;
	color: white;
	position: absolute;
 	top: 0px;
 	left: 0px;
 	z-index: 1;

}


/*IP Address*/

.ip {
	background-color: lightslategray;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;

}

.ip-text {
	font-size: 16vw;
	text-align: center;
	color: white;
}

/*chat room*/

.abctitle {
	background-color: black;
	height: 10vh;
	font-size: 40px;
	margin-left: 70px;
	padding: 30px;
	width: 100vw;
	color: white;

}
.abc {
	background-color: darkgray;
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	
}

.abc-text {
	font-size: 50px;
	color: black;
	margin-left: 50px;
	background-color: pink;
	padding: 20px;
	box-shadow: 0px 0px 20px pink;
}

.cde-text {
	font-size: 50px;
	color: black;
	margin-left: 300px;
	margin-top: 300px;
	padding: 20px;
	background-color: skyblue;
	box-shadow: 0px 0px 20px skyblue;
}


/*email interface*/

.email {
	background-color: darkcyan;
	height: 100vh;
	width: 100vw;
	display: flex;
	

}

.email-text {
	height: 60vh;
	width: 80vw;
	border: 3px solid white;
	font-size: 30px;
	margin-top: 50px;
	padding: 60px;
	padding-left: 100px;
	color: white;
	margin-left: 200px;
	margin-top: 200px;
	border-bottom: 1px solid white;
	line-height: 1.2em;
}

/*safari*/

.safari {
	height: 100vh;
	width: 100vw;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.safarititle {
	height: 100px;
	text-align: center;
	color: blue;
	font-weight: bold;
	display: flex;
	font-size: 50px;
	align-items: center;
	justify-content: center;
	flex: 0 0 100%;
}

.safari-text {
	font-size: 20px;
	padding-top: 15px;
	height: 5vh;
	justify-content: center;
	display: flex;
	color: gray;
	box-shadow: 0px 0px 20px gray;
	flex: 0 0 50%;

}



/*fingerprint*/

.fingerprint {
	align-items: center;
	justify-content: center;
}

.fingerprint img {
	display: flex;
	width:100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
}


.robot {
	position: absolute;
	top:0px;
	left:0px;
	display: flex;
	width:100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.robot-text {
	font-family: Helvetica,Arial,sans-serif;
	border-radius: 100px;
  	height:5vh;
  	width:50vw;
  	background-color:cyan;
	color:gray;
	box-shadow: 0px 0px 80px cyan;
	padding: 28px;
	text-align: center;
}

/*barcode isbn*/

.sidebar{
  width:100vw;
  height:85vh;
  background:black;
  display: flex;
  justify-content: center;
}

.stripe-1{
  background-color:crimson;
  height:99%;
  width:45px;
  margin-right:10px;
  
}

.stripe-2{
  background-color:green;  
  height:93%;
  width:20px;
  margin-right:20px; 
}

.stripe-3{
  background-color:yellow;  
  height:93%;
  width:34px;
  margin-right:25px;
}
.stripe-4{
  background-color:indigo;  
  height:93%;
  width:35px; 
  margin-right:15px; 
}

.stripe-5{
  background-color:pink;  
  height:93%;
  width:70px;
  margin-right:16px; 
}

.stripe-6{
  background-color:blue;  
  height:98%;
  width:33px;
  margin-right:20px; 
}
.stripe-7{
  background-color:lightsalmon;  
  height:95%;
  width:40px;
  margin-right:10px;  
}

.stripe-8{
  background-color:palegreen;  
  height:95%;
  width:23px;
  margin-right:17px; 
}

.stripe-9{
  background-color:khaki;  
  height:93%;
  width:40px;
  margin-right:20px; 
}

.stripe-10{
  background-color:hotpink;  
  height:93%;
  width:50px;
  margin-right:20px; 
}

.stripe-11{
  background-color:gold;  
  height:93%;
  width:26px;
  margin-right:17px; 
}

.stripe-12{
  background-color:limegreen;  
  height:93%;
  width:34px;
  margin-right:15px; 
}

.stripe-13{
  background-color:fuchsia;  
  height:93%;
  width:50px;
  margin-right:24px; 
}

.stripe-14{
  background-color:peru;  
  height:92%;
  width:34px;
  margin-right:22px; 
}

.stripe-15{
  background-color:olive;  
  height:96%;
  width:25px;
  margin-right:20px; 
}

.stripe-16{
  background-color:orange;  
  height:95%;
  width:34px;
  margin-right:20px; 
}

.stripe-17{
  background-color:deepskyblue;  
  height:98%;
  width:34px;
  margin-right:34px; 
}

.sidebar-text {
	font-size: 120px;
	text-align: center;
	
}

/*Barcode scan*/

.box1 {
  width: 100vw;
  height:100vh;

  padding: 20px;
  display: inline-block;
  animation-name:colourbox;
  animation-duration:1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes colourbox {
  
  from {
   background-color: yellow;
  }
  
  to {
  background-color: blue;
  }
  
}


}

.mailbarcode {
 width:100vw;
 height:100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}

.gray {
 background-color: tan;
}

.barcode {
 width: 100vw;
 padding: 10px;
 margin: auto;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 position: absolute;
}

.barcode img {
 width: 100%;
 display: flex;
 margin-top: 25%;
 align-items: center;
 justify-content: center;

}

.scan {
 position: fixed;
 top: 0px;
 left: 0px;
 z-index:-1;
}



/*Apple welcome screen*/

.chip-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

.chip {
	width: 100vw;
	height: 100vh;
	padding: 5vh;
	background-color: white;
	display: flex;

	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

}

.chip-text {
	color: black;
	margin-top: 200px;
	font-size:100px;
	font-weight: normal;
	text-align: center;
	flex: 0 0 100%;
}

.chip-text-2 {
	color: gray;
	font-size:40px;
	margin-top: 100px;
	font-weight: normal;
	text-align: center;
	flex: 0 0 100%;
}

/*checkers*/


.checkers {
	width:100vw;
	height:100vh;
	display:flex;
	flex-wrap:wrap;
}

.checkers-black {
	flex:0 0 50%;
	height:50vh;
	background-color: olivedrab;
}

.checkers-white {
	flex:0 0 50%;
	height:50vh;
	background-color: yellowgreen;
}

.checkers-text {
	font-size: 40px;
	text-align: center;
	margin-top: 28%;
}

/*pink ip*/

.checkers-3 {
	display: flex;
	flex-wrap: wrap;
}
.checkers-3-pink {
	width: 33.333vw;
	height: 50vh;
	background-color: palevioletred;
}
.checkers-3-lightpink {
	width: 33.333vw;
	height: 50vh;
	background-color: mediumvioletred;
}

.checkers-3-hotpink {
	width: 33.333vw;
	height: 50vh;
	background-color: deeppink;
}

.checkers-3-deeppink {
	width: 33.333vw;
	height: 50vh;
	background-color: hotpink;
}

.checkers-3-mediumvioletred {
	width: 33.333vw;
	height: 50vh;
	background-color: lightpink;
}

.checkers-3-palevioletred {
	width: 33.333vw;
	height: 50vh;
	background-color: pink;
}

.pink-text {
	font-size: 40px;
	text-align: center;
	margin-top: 40%;
}

/*rotate address*/

.rotate {
  	background-color: lemonchiffon;
  	height:100vh;
  	width: 100vw;
}

.rotate-text1 {
  transform: rotate(45deg);
  transform-origin:bottom left;
  font-size:60px;
  padding: 20px;
  color:blue;
}
.rotate-text2 {
  transform: rotate(20deg);
  transform-origin:top left;
  font-size:60px;
  padding: 20px;
  margin-left: 400px;
  color:green;
}
.rotate-text3 {
  transform: rotate(10deg);
  transform-origin:bottom left;
  font-size:60px;
  margin-top: 200px;
  margin-left: 600px;
  padding: 20px;
  color:orange;
}
.rotate-text4 {
  transform: rotate(-10deg);
  transform-origin:bottom left;
  margin-top: 300px;
  margin-left: 800px;
  font-size:60px;
  padding: 20px;
  color:red;

}


/*postcode*/

.postcode {
	background-color: darkolivegreen;
	height: 100vh;
	width: 100vw;
}

.postcode-text {
	font-size: 90px;
	color: white;
	padding: 100px;
	text-align: center;
	position: absolute;
}

/*Facebook*/


.logo {
  font-size:280px;
  display:block;
}
	
	li {
	  list-style: none;
	  width: 100vh;
	  font-weight: bold;
    margin:auto;
    display:block;
    margin-bottom: 50px;
	}
	
	strong {
	  text-transform: uppercase;
	  display: block;
	  font-size: 500%;
	}
	
	.icon {
	  font-size: 200%;	
	}
	
	#happy {
		background: #bffca1;	
	}
	
	#ok {
  border:2px solid #000;
	}
	
	#sad {
		margin-top: 480px;
        transform: perspective(525px) translateZ(100px)
          rotateX(18deg) rotateY(-20deg);
    transition: all 300ms linear 0s;
    animation: pers 2s infinite alternate;
	}

@keyframes pers {
  0% {
transform: perspective(525px) translateZ(100px)
          rotateX(18deg) rotateY(-19deg);
  }
  20% {
transform: perspective(525px) translateZ(100px)
          rotateX(35deg) rotateY(-24deg);
  }
  50% {
transform: perspective(525px) translateZ(100px)
          rotateX(5deg) rotateY(-25deg);
  }
    70% {
transform: perspective(525px) translateZ(100px)
          rotateX(-15deg) rotateY(-19deg);
  }
  100% {
transform: perspective(525px) translateZ(100px)
          rotateX(1deg) rotateY(-5deg);
  }  
}

img {
  width: 40%;
/*   box-shadow:20px 20px 80px rgba(0,0,255,0.1); */
}

.about {
  position: fixed;
  top:30px;
  left:0px;
  text-align:left;
  z-index:-1;
  font-size:37px;
  height:100vh;
  font-weight:bold;
  padding:20px;
  background-color: royalblue;
}

/*map*/

.map {
	height: 100vh;
	width: 100vw;
	display: flex;
}

.ball {
	width:26px;
  	height:26px;  
  	border-radius:50%;
  	background-color: red;
  	position:fixed;
  	top:10%;
  	left:20%;
  	animation: ball 3s infinite linear alternate;
}

	@keyframes ball {
  
  0% {
  top:26%;
  left:40%;
  }
  
  50% {
  top:20%;
  left:90%;
  }
  
  100% {
  top:68%;
  left:50%;
  }
  
}

.map img {
	width: 100%;
	align-items: center;
}

/*button*/

.captcha1 {
	width:100%;
	height:100vh;
	background-color: #000;
}

.captcha1 img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	background-color: #000;
}

.robot1 {
	position: absolute;
	top:0px;
	left:0px;
	display: flex;
	width:100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.robot-text1 {
	border-radius: 100px;
	font-size: 40px;
	color:gray;
	box-shadow: 0px 0px 20px gray;
	padding: 28px;
	text-align: center;
}






