body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color: black;
	color: white;
}

a {
	color:red;
}


/*Index Homepage*/

.index-intro {
	font-size: 18px;
	margin-bottom: 25vh;
}

.index-row {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	border-top: 2px solid white; 

}

.index-name {
	flex: 0 0 50%;
}

.index-layer {
	flex: 0 0 25%;
}

.index-tag {
	flex: 0 0 25%;
}

/*IP Address*/

.ip {
	background-color: lightslategray;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;

}

.ip-text {
	font-size: 16vw;
	text-align: center;
	color: white;
}



/*Checkers*/

.checkers {
	display: flex;
	flex-wrap: wrap;
}

.checkers-white {
	width: 50vw;
	height: 50vh;
	background-color: white;
}

.checkers-skyblue {
	width: 50vw;
	height: 50vh;
	background-color: tan;

}

/*Checkers Type*/

.checkers-2 {
	display: flex;
	flex-wrap: wrap;
}
.checkers-2-blue {
	width: 50vw;
	height: 50vh;
	background-color: blue;
}
.checkers-2-white {
	width: 50vw;
	height: 50vh;
	background-color: white;
}

.checkers-type {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 0;

}

.checkers-text {
	font-size:20vw;
	color: orange;
}

/*Cloud Pattern*/

.cloud-pattern {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(lightslategray, white);
}

.cloud-circle {
	width: 500px;
	height: 500px;
	margin: 10px;
	background-image: linear-gradient(pink, white);
	border-radius: 50%;
}

/*Chip*/

.chip-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: darkseagreen;
}

.chip {
	width: 40vh;
	height: 40vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.chip-text {
	font-size: 5vw;
	padding: 15px;
	border: 1px solid white;
	color: white;

}

/*flag letter-e*/

.flag-letter-e {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: bisque;
}

.letter-e {
	width: 40vh;
	height: 40vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.e-text {
	font-size:100px;
	color: sienna;
}

/*checker pink*/

.checkers-3 {
	display: flex;
	flex-wrap: wrap;
}
.checkers-3-pink {
	width: 33.333vw;
	height: 50vh;
	background-color: pink;
}
.checkers-3-lightpink {
	width: 33.333vw;
	height: 50vh;
	background-color: lightpink;
}

.checkers-3-hotpink {
	width: 33.333vw;
	height: 50vh;
	background-color: hotpink;
}

.checkers-3-deeppink {
	width: 33.333vw;
	height: 50vh;
	background-color: deeppink;
}

.checkers-3-mediumvioletred {
	width: 33.333vw;
	height: 50vh;
	background-color: mediumvioletred;
}

.checkers-3-palevioletred {
	width: 33.333vw;
	height: 50vh;
	background-color: palevioletred;
}

/*Hello*/

.hello {
	background-color: steelblue;
	height: 100vh;
	width: 100vw;

}

.hello-text {
	font-size: 150px;
	text-align: center;
	color: white;
	width:60vw;
	padding: 7px;
	border: 2px solid white;
	display: block;
	margin: auto;
}
