body {
	font-family: Avenir;
	font-size: 24px;
}

a {
	color:red;
}

.sidebar {
	position: fixed;
	width:25%;
	top:0px;
	left:0px;
	height:100vh;
	font-size: 3vw;
	margin-top: 100px;
	text-transform: uppercase;
}

.sidebar-content {
	padding: 10px;
	margin-left: 5px;
}

.main {
	width:75%;
	margin-left: 25%;
	flex: 0 0 50%;
	height: 880px;
	margin-top: 80px;
}

.main-content {
	padding: 20px; 
}

.main-text {
	padding: 15px;
}

.listing {
	font-size: 30px;
	padding: 20px;
	margin-bottom: 2vw;
	text-transform: uppercase;

}

.main .box {
	justify-content: flex-start;
	position: fixed;
	top: 75px;
	left: 420px;
	z-index: -1;
}

.box {
	width: 200px;
  	height:880px;
  	background-color: pink;
  /*   add your animation name and settings here */
  	animation-name:growbox;
  	animation-duration:5s;
  	animation-iteration-count: infinite;
  	animation-timing-function: linear;
  	animation-direction: alternate;

}

/*   add your starting state and your end state  */
	@keyframes growbox {
  
  0% {
    width:0px;
  }
  
  100% {
    width:75vw;
  }
  
  
}


